<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/food" class="nav-menu link w-nav-link">Food</a>
      <a href="/hygiene" class="nav-menu link w-nav-link">Hygiene</a>
      <a href="/textbook" class="nav-menu link w-nav-link">Textbook</a>
      <a href="/professionalclothing" class="nav-menu link w-nav-link">Professional Clothing</a>
      <a href="/winterclothing" class="nav-menu link w-nav-link">Winter Clothing</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <h2>
    Instagram
  </h2>
  <h2>
    Email
  </h2>
  <h2>
    Davidson Page
  </h2>
</main>
