<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/food">Food</a>
      <a href="/hygiene">Hygiene</a>
      <a href="/textbook">Textbook</a>
      <a href="/professionalclothing">Professional Clothing</a>
      <a href="/winterclothing">Winter Clothing</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <h2>
    Instagram
  </h2>
  <h2>
    Email
  </h2>
  <h2>
    Davidson Page
  </h2>
</main>
