<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/textbook">Textbook</a>
      <a href="/formalWear">Formal Wear</a>
      <a href="/winterwear">Winter Wear</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <h2>
    Instagram
  </h2>
  <div data-mc-src="7a1de3ee-9389-4384-b136-807bf2a6bf22"></div>
  <h2>
    Email
  </h2>
  <h2>
    Davidson Page
  </h2>
</main>
