<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Resources
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/textbook">Textbook</a>
      <a href="/formalWear">Formal Wear</a>
      <a href="/winterwear">Winter Wear</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <h2>
    Donate to Lula Bells
  </h2>
  <ul>
    <li>
      Use this link to donate: https://community.davidson.edu/gift-form
    </li>
    <li>
      Under “I want to support:” select “Other,” then type “Lula Bell’s” in the text box as shown in the example below.
    </li>
  </ul>
  <img src="./giftForm.JPG" alt="Gift Form" width="500" height="333">
  {{!-- alt="Gift Form"> --}}
  <h2>
    Amazon Wish List
  </h2>
  {{!-- Ask kristen for link to share wishlist --}}

  <h2>
    Donate Meal Swipes
  </h2>
</main>
