<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/food">Food</a>
      <a href="/hygiene">Hygiene</a>
      <a href="/textbook">Textbook</a>
      <a href="/professionalclothing">Professional Clothing</a>
      <a href="/winterclothing">Winter Clothing</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <h2>
    Lula Bell's is a resource center for students and an example of the college's commitment to provide the
    full Davidson experience for all students.
  </h2>
  <h3>
    The center offers resources that include: food, professional clothing, winter clothing, textbooks and
    personal hygiene items. Programming in the space focuses on life skills for all students on topics ranging
    from financial literacy to systemic social issues. Lula Bell's is designed to feel like a home where everyone
    is welcome.
    <ul>
      <li>Food - Perishable and non-perishable goods are available for students to pick up once per week.</li>
      <li>Professional clothing - Students may borrow items for interviews and career-related activities.</li>
      <li>Winter clothing - Jackets, gloves and hats will be available during the cooler months.</li>
      <li>Textbooks - Students may borrow textbooks or pick up basic school supplies.</li>
      <li>Personal hygiene - Lula Bell's provides toothpaste, shampoo, feminine hygiene products and related items.</li>
      <li>Programming - The resource center aims to meet the needs of all students, and programming will focus on topics relevant to a college student—now and into the future.</li>
    </ul>
    Lula Bell's is made possible through the generosity of Decker Anstrom and Sherry Hiemstra in memory of their
    son Tom Anstrom, a member of the Class of 2004, who loved Davidson and who believed that every student should
    have the opportunity to take full advantage of all Davidson offers.
  </h3>
</main>
