<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/textbook">Textbook</a>
      <a href="/formalWear">Formal Wear</a>
      <a href="/winterwear">Winter Wear</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<main>
  <div class="homePage">
    <h2>
      Lula Bell's is a resource center for students and an example of the college's commitment to provide the
      full Davidson experience for all students.
    </h2>
    <h3>
      The center offers resources that include: food, formal wear, winter wear, textbooks and
      personal hygiene items. Programming in the space focuses on life skills for all students on topics ranging
      from financial literacy to systemic social issues. Lula Bell's is designed to feel like a home where everyone
      is welcome.
      <ul>
        <li>Formal Wear - Students may borrow items for interviews and career-related activities.</li>
        <li>Winter Wear - Jackets, gloves and hats will be available during the colder months.</li>
        <li>Textbooks - Students may borrow textbooks or pick up basic school supplies.</li>
        <li>Personal hygiene - Lula Bell's provides toothpaste, shampoo, feminine hygiene products and related items.
        </li>
        <li>Programming - The resource center aims to meet the needs of all students, and programming will focus on
          topics relevant to a college student—now and into the future.</li>
      </ul>
      Lula Bell's is made possible through the generosity of Decker Anstrom and Sherry Hiemstra in memory of their
      son Tom Anstrom, a member of the Class of 2004, who loved Davidson and who believed that every student should
      have the opportunity to take full advantage of all Davidson offers.
    </h3> 
    <div class= "image-gallery">
      <img src= "https://www.davidson.edu/sites/default/files/styles/max_1300x1300/public/2019-04/Lula-Bells-11.JPG?itok=38vrJP-p"> 
      <img src= "https://www.davidson.edu/sites/default/files/styles/max_1300x1300/public/2019-04/Lula-Bells-9.JPG?itok=C43AJ5kJ">
      <img src= "https://www.davidson.edu/sites/default/files/styles/max_1300x1300/public/2019-04/Lula-Bells-6.JPG?itok=9YUAQBhy">
      <img src= "https://www.davidson.edu/sites/default/files/styles/max_1300x1300/public/2019-04/Lula-Bells-12.JPG?itok=nPY0YXlG">
      <img src= "https://www.davidson.edu/sites/default/files/styles/max_1300x1300/public/2019-04/lula-bells-1.JPG?itok=j6lRjp8r">

    </div>
  </div>
</main>
