<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/textbook">Textbook</a>
      <a href="/formalWear">Formal Wear</a>
      <a href="/winterwear">Winter Wear</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>

<div style="text-align: center;">
  <h2>Shopping Guide</h2>
  <h3>In your one visit each week, you can select the following</h3>
  <div id="shopping" class="grid-container">
    <div class="dairy">
      <span id="dairy" class="dot"></span>
      <p>BLUE: Dairy products</p>
      <p>Students: 1</p>
      <p>First-year students: 0</p>
    </div>

    <div class="fruits">
      <span id="fruits" class="dot"></span>
      <p>ORANGE: Fruits</p>
      <p>Students: 2</p>
      <p>First-year students: 1</p>
    </div>

    <div class="vegetables">
      <span id="vegetables" class="dot"></span>
      <p>GREEN: Vegetables</p>
      <p>Students: 3</p>
      <p>First-year students: 2</p>
    </div>

    <div class="grains">
      <span id="grains" class="dot"></span>
      <p>YELLOW: Grains</p>
      <p>Students: 2</p>
      <p>First-year students: 1</p>
    </div>

    <div class="protein">
      <span id="protein" class="dot"></span>
      <p>RED: Protein</p>
      <p>Students: 2 w/ only 1 frozen</p>
      <p>First-year students: 0</p>
    </div>

    <div class="flavoring">
      <span id="flavoring" class="dot"></span>
      <p>PURPLE: Flavoring</p>
      <p>Students: 1</p>
      <p>First-year students: 1</p>
    </div>

    <div class="bonus">
      <span id="bonus" class="dot"></span>
      <p>WHITE: Bonus</p>
      <p>Students: 1</p>
      <p>First-year students: 1</p>
    </div>

    <div class="hygiene">
      <p>Please select up to two different cleaning/hygiene products each week as needed!</p>
    </div>
  </div>
</div>
