<h1>Lula Bell's Resource Center</h1>
<div class="navbar">
  <a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/food">Food</a>
      <a href="/hygiene">Hygiene</a>
      <a href="/textbook">Textbook</a>
      <a href="/professionalclothing">Professional Clothing</a>
      <a href="/winterclothing">Winter Clothing</a>
      <a href="/shopping">Shopping</a>
    </div>
  </div>
  <a href="/donations">Donations</a>
  <a href="/contact">Contact</a>
</div>
<h2>Winter Clothing</h2>
<div class="grid-container">
  <div class="item1">
    <img src="https://i.pinimg.com/originals/2e/85/2b/2e852ba4e4d776971da76602f6a6a36e.jpg" height="250px" width="250px">
    <p>Sweater</p>
    <button class="button" id="storeitem1">
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>

  <div class="item2">
    <img src="https://www.jcrew.com/s7-img-facade/H1891_BR5735?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&crop=0,0,0,0&wid=850&hei=850" height="250px" width="250px">
    <p>Boots</p>
    <button class="button" id="storeitem2">
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>

  <div class="item3">
    <img src="https://i.insider.com/5a3196cd4aa6b5b51a8b4956?width=1100&format=jpeg&auto=webp" height="250px" width="250px">
    <p>Jacket</p>
    <button class="button" id="storeitem3">
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>

  <div class="item4">
    <img src="https://images-na.ssl-images-amazon.com/images/I/816-sEy2CYL._AC_UL1500_.jpg" height="250px" width="250px">
    <p>Beanie</p>
    <button class="button" id="storeitem4">
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>

  <div class="item5">
    <img src="https://restartyourstyle.com/img/winter-clothes/scarf-1.jpg" height="250px" width="250px">
    <p>Scarf</p>
    <button class="button" id="storeitem5">
      <i class="fa fa-shopping-cart"></i> Add to cart
    </button>
  </div>
</div>
