<h1>Winterwear Edit</h1>
<form method="POST" action="/winterwear/{{id}}">
  <div>
    <label for="sku">SKU</label>
    <input type="text" name="sku" value="{{sku}}">
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{name}}">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea name="description">{{description}}</textarea>
  </div>
  <div>
    <button type="submit">Update Item</button>
  </div>
</form>
